.patela-cores {
    color: #001219;
    color: #005f73;
    color: #0a9396;
    color: #94d2bd;
    color: #e9d8a6;
    color: #ffffff;
    color: #ee9b00;
    color: #ca6702;
    color: #bb3e03;
    color: #ae2012;
    color: #9b2226;
}

#login {
    background-color: #ee9b00;
    padding: 30px;
    border-radius: 30px;
}

#cadastro {
    background-color: #0a9396;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

#cadastro .btn.btn-primary:hover {
    background-color: #ee9b00;
}

.criarConta {
    text-align: center;
}

.criarConta a {
    text-decoration: none;
    color: #ffffff;
}

.criarConta a:hover {
    color: #9b2226;
}

.cadastro {
    text-align: center;
}

.cadastro a {
    color: #ffffff;
    text-decoration: none;
}

.cadastro a:hover {
    color: #e9d8a6;
}