.patela-cores {
    color: #001219;
    color: #005f73;
    color: #0a9396;
    color: #94d2bd;
    color: #e9d8a6;
    color: #ffffff;
    color: #ee9b00;
    color: #ca6702;
    color: #bb3e03;
    color: #ae2012;
    color: #9b2226;
}



.btn.btn-primary.edit {
    background-color: #ee9b00;
    margin: 5px;
}

.btn.btn-primary.edit:hover {
    background-color: #ca6702;
}

.btn.btn-primary.delete {
    background-color: #9b2226;
    margin: 5px;
}

.btn.btn-primary.delete:hover {
    background-color: #ca1807;
}

.addForm {
    padding: 10px 0 10px;
}

.addForm .btn.btn-primary {
    margin-left: 10px;
}