.patela-cores {
    color: #001219;
    color: #005f73;
    color: #0a9396;
    color: #94d2bd;
    color: #e9d8a6;
    color: #ffffff;
    color: #ee9b00;
    color: #ca6702;
    color: #bb3e03;
    color: #ae2012;
    color: #9b2226;
}

.bg-dark {
    background-color: #001219 !important;
    border-radius: 0 0 20px 20px;
}

.navbar-brand img {
    margin-left: 20px;
    margin-bottom: 10px;
}

.navbar-brand span {
    margin-left: 20px;
    color: #ee9b00;
}

.navbar-toggler {
    margin-right: 20px;
}

.navbar .collapse{
    margin-left: 20px;
}

#icon-conta svg, #icon-conta {
    color: #fff;
}

.navbar .nav-link {
    color: #94d2bd;
    line-height: 2.5rem;
}

.navbar .nav-link:hover {
    color: #ee9b00;
}

@font-face {
    font-family: 'Dancing Script';
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

#font-logo {
    font-family: 'Dancing Script';
    font-size: 2rem;
    font-weight: bold;
}